* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1;
  padding: 20px;
  color: #333;
}
h1 {
  color: #2c3e50;
  text-align: center;
}
.form-container {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin: 20px;
<<<<<<< HEAD
  padding: 20px;
=======
>>>>>>> 58c6c2cad173bc99db74bbb07431bffe9ddc1ba1
}
#formularioPaciente {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="date"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.radio-group {
  display: flex;
  gap: 15px;
}
.radio-option {
  display: flex;
  align-items: center;
}
.radio-option input {
  margin-right: 5px;
}
.botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
<<<<<<< HEAD
  border-radius: 20px;
=======
>>>>>>> 58c6c2cad173bc99db74bbb07431bffe9ddc1ba1
}

#PantallaPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}


.busqueda{
  margin: 20px;
  width: 100%;
  padding: 20px;
  height: 100%;
}
.busqueda button{
  border-radius: 20px;
}
.form-container button{
  border-radius: 20px;
}
.achicarTam{
  width: 70%;
}

#listadoDePacientes {
  margin-top: 40px;
  width: 100%;
}


#PantallaDeVista {
<<<<<<< HEAD
  width: 100%;
  background-color: rgba(169, 169, 169, 0.432);
  margin: 20px;
  padding: 20px;}
=======
  width: 70%;
  border: 5px solid black;
  padding: 30px;
}
>>>>>>> 58c6c2cad173bc99db74bbb07431bffe9ddc1ba1

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
<<<<<<< HEAD
  height: 100%;
=======
  height: 50px;
  width: 100%;
  gap: 10px;
>>>>>>> 58c6c2cad173bc99db74bbb07431bffe9ddc1ba1
}
button:hover {
  background-color: #2980b9;
}

p {
<<<<<<< HEAD
  font-size: 1.2em;
  margin-left: 10px;
=======
  font-size: 15px;
  margin-left: 10px;

>>>>>>> 58c6c2cad173bc99db74bbb07431bffe9ddc1ba1
}

.moverAlaIsquierda{
  position: relative;
  left: 30px;
}

.contenedor{
  margin: 0 auto;
  width: 90%;
}